<a href="" rel="nofollow" class="u-hidden@from-tablet o-crop__content o-crop__content--right-bottom">Texto 1</a>
<!--
<nav class="u-hidden@from-tablet">
  <ul class="o-layout o-crop__content o-crop__content--right-bottom">
    <li class="o-layout__item o-layout--center">

    </li>
    <li class="o-layout__item o-layout--center">

    </li>
  </ul>
</nav> -->

<!-- <nav role="navigation" class="u-hidden@from-tablet">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <li>
        <a href="" rel="nofollow">Texto 2</a>
      </li>
      <li>
        <a href="" rel="nofollow">Texto 3</a>
      </li>
    </ul>
  </div>
</nav> -->