// inuitcss generic core
@import '../../../node_modules/inuitcss/generic/_generic.box-sizing.scss';
@import '../../../node_modules/inuitcss/generic/_generic.normalize.scss';
@import '../../../node_modules/inuitcss/generic/_generic.reset.scss';
@import '../../../node_modules/inuitcss/generic/_generic.shared.scss';
