@import '../scss/main.scss';
.o-layout {
	@include mq($from: tablet) {
		a {
			color: red;
		}
	}
}

.o-layout__item {
	@if (inuit-config(debug) == true) {
		border: solid 1px red;
	} @else {
		border: solid 1px green;
	}
}
