@import '../../../node_modules/inuitcss/utilities/_utilities.clearfix.scss';
// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.
// Only set this to `true` if you are absolutely sure about what you are doing.
$inuit-offsets: true;
@import '../../../node_modules/inuitcss/utilities/_utilities.widths.scss';
@import '../../../node_modules/inuitcss/utilities/_utilities.headings.scss';
@import '../../../node_modules/inuitcss/utilities/_utilities.spacings.scss';
@import '../../../node_modules/inuitcss/utilities/_utilities.responsive-spacings.scss';
@import '../../../node_modules/inuitcss/utilities/_utilities.print.scss';
@import '../../../node_modules/inuitcss/utilities/_utilities.hide.scss';
